@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100vw;
    font-family: 'Public Sans', sans-serif
}
header {
    width: 100%;
}
#showcase {
    width: 100%;
}
.menu-bar {
    display: none;
    width: 80%;
    box-shadow: 0 25px 50px 50px rgb(0, 0, 0, 0.7);
}
.view {
    display: flex;
}
.nav-link:hover {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-image: linear-gradient(
        to right,
        hsl(136, 65%, 51%),
        hsl(192, 70%, 51%)
    ) 1;
}
